* {margin:0px;padding:0px;font-family: "Segoe UI Light", Helvetica;font-weight:100;color:#fff;}

body {background:#FFFFFF;}

.game {background:#4B81BC;padding:42px 60px;}
 h1 {font-size:2.2em;}
 h2 {font-size:2em;}
 h4 {font-size: 1.4em;color:#F6D55D;position:relative;left: -10px;}
 h3 {margin-bottom: 20px;}

.game .user {height:100px;}
.game .computer {background:transparent;}
.game .result {background:transparent;}

.game ul {display:block;list-style-type: none;margin-top:10px;width:100%;}
.game ul li {display: inline-block;position:relative;overflow:hidden;}
.game ul li label {display:block;width:80px;text-align:center;position:relative;bottom:-75px;color:inherit;}

.game ul li {width:80px;height:95px;}
.game .computer>div {width:80px;}
.game .computer>div, .game .result> .message {height: 80px;font-size:2em;}
.game .result> .message:empty:before {content: "Сделайте выбор!";}

.game .u, .game .c {display:inline-block;background: url("img/gameicons-tile.png") -560px 0px no-repeat;width:80px;height:95px;}
.game .c {background: url("img/gameicons-tile.png") -480px 0px no-repeat;}

.game .rock {background: url("img/gameicons-tile.png") 0px 0px no-repeat;}
.game .rock:hover {background: #464637 url("img/gameicons-tile.png") 0px 0px no-repeat;}

.game .scissors {background: url("img/gameicons-tile.png") -80px 0px no-repeat;}
.game .scissors:hover {background: #CCCCCC url("img/gameicons-tile.png") -80px 0px no-repeat;color:#444;}

.game .paper {background: url("img/gameicons-tile.png") -160px 0px no-repeat;}
.game .paper:hover {background: #FFEFBF url("img/gameicons-tile.png") -160px 0px no-repeat;color:#444;}

.game .lizard {background: url("img/gameicons-tile.png") -240px 0px no-repeat;}
.game .lizard:hover {background:#00B300 url("img/gameicons-tile.png") -240px 0px no-repeat;color:#eee;}

.game .spock {background: url("img/gameicons-tile.png") -320px 0px no-repeat;}
.game .spock:hover {background: #2693FF url("img/gameicons-tile.png") -320px 0px no-repeat;color:#eee;}

.game .unknown {background: url("img/gameicons-tile.png") -400px 0px no-repeat;}

.header {box-sizing: border-box;-moz-box-sizing: border-box;width: 100%;padding: 20px 42px 20px;position: relative;background: #f1f1f1;border-bottom: 1px solid #e5e5e5;margin: 0;overflow: hidden;color: #efefef;font-size: 16px;line-height: 24px;font-weight: normal;}
.header h1 {color:#444;padding: 0 18px;}

.topnav {font-size:1em;background:#444;overflow: hidden;clear: both;padding: 0 62px;}
.topnav ul {margin: 0;padding: 12px 0;border: 0;overflow: hidden;white-space: nowrap;}
.topnav ul li {list-style-image: none;list-style-type: none;margin-left: 0;white-space: nowrap;display: inline;float: left;padding: 0 4px 0 0;line-height: 24px;margin: 0 30px 0 0;}

.block {background:#efefef;padding:42px 60px;clear:both;}

.block p, .block a {color: #333;}

.pale {background: #F0F0E1;}
.blue {background: #333333;}
.yellow {background: #F6D55D;}

.dark-text {color:#444;}

.leftpane {position:fixed;height:100%;width:35px;z-index:999;opacity:0.3;}
.leftpane a {display:block;width:100%;height:100%;color:#444;text-align:center;background:#CCCCCC;}
.leftpane a:hover {background:#AAAAAA;}


/* icons */
/* gmail, github, vk.com */